In [1]:
import pandas as pd
import numpy

In [2]:
data=pd.read_csv("/home/daniel/Documentos/Documentos de Programaci√≥n/Documentos Python/Proyecto delito/kepler-gl_Delito2018.csv.")

In [28]:
data.head()

,MES,DIA DE LA SEMANA,FECHA DEL HECHO,FRANJA 24 HS,HORA DEL HECHO,TIPO DE DELITO,CANTIDAD DE VICTIMAS,LATITUD,LONGITUD,COMUNA,BARRIO
0,Enero,Martes,2018-01-16,10.0,10:15:00,Hurto (Sin violencia),False,NaN,NaN,NaN,NaN
1,Enero,Miercoles,2018-01-17,10.0,10:30:00,Hurto (Sin violencia),False,NaN,NaN,NaN,NaN
2,Enero,Lunes,2018-01-01,9.0,09:45:00,Hurto (Sin violencia),False,NaN,NaN,NaN,NaN
3,Enero,Viernes,2018-01-26,8.0,08:30:00,Hurto (Sin violencia),False,NaN,NaN,NaN,NaN
4,Enero,Lunes,2018-01-22,9.0,09:00:00,Hurto (Sin violencia),False,NaN,NaN,NaN,NaN

In [23]:
delitos_por_dia=data.groupby(["DIA DE LA SEMANA","TIPO DE DELITO"])

In [29]:
delitos_por_dia.size().describe()

count       21.000000
mean      4957.523810
std       4104.353233
min         11.000000
25%         23.000000
50%       5321.000000
75%       8970.000000
max      10572.000000
dtype: float64